@font-face {
  font-family: 'RecoletaDemo';
  src: url('/fonts/recoleta-demo.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis.regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis.semi-bold.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis.bold.otf');
  font-style: normal;
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: RecoletaDemo;
}

h4,
h5,
h6 {
  font-family: metropolis;
}

p {
  line-height: 160%;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline-width: 0;
}
